typing==3.7.4.1
matplotlib==3.1.1
PyVirtualDisplay==0.2.4
gym==0.14.0
tf_nightly==1.15.0.dev20190821
tf_agents_nightly==0.2.0.dev20190924
imageio==2.4.0
numpy==1.17.1
setuptools==41.2.0
ipython==7.8.0
tensorflow==1.14.0
tf_agents==0.2.0rc2
